    :root {
        font-size: 10px;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }


    .btn2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font: inherit;
        background: none;
        border: none;
        color: inherit;
        padding: 0;
        cursor: pointer;
    }

    :focus {
        outline-color: #fa0;
    }

    /* Masthead */

    .masthead {
        flex-basis: 4rem;
        display: flex;
        align-items: center;
        padding: 0 0.8rem;
        background-color: #0067a3;
        box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    }

    .masthead .btn2 {
        background-color: #4c94be;
        border-radius: 0.3rem;
        transition: background-color 150ms;
    }

    .masthead .btn2:hover {
        background-color: #3385b5;
    }

    .boards-menu {
        display: flex;
        flex-shrink: 0;
    }

    .boards-btn {
        flex-basis: 9rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: #fff;
        margin-right: 0.8rem;
        padding: 0.6rem 0.8rem;
    }

    .boards-btn-icon {
        font-size: 1.7rem;
        padding-right: 1.2rem;
    }

    .board-search {
        flex-basis: 18rem;
        position: relative;
    }

    .board-search-input {
        height: 3rem;
        border: none;
        border-radius: 0.3rem;
        background-color: #4c94be;
        width: 100%;
        padding: 0 3rem 0 1rem;
        color: #fff;
    }

    .board-search-input:hover {
        background-color: #66a4c8;
    }

    .search-icon {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-50%) rotate(90deg);
        color: #fff;
    }

    .logo {
        flex: 1;
        font-family: "Courgette", cursive;
        font-size: 2.2rem;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.5);
        margin: 0 2rem;
        transition: color 150ms;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
    }

    .logo:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    .logo-icon {
        padding-right: 0.4rem;
    }

    .user-settings {
        display: flex;
        height: 3rem;
        color: #fff;
    }

    .user-settings-btn {
        font-size: 1.5rem;
        width: 3rem;
        margin-right: 0.8rem;
    }

    .user-settings-btn:last-of-type {
        margin-right: 0;
    }

    /* Board info bar */

    .board-info-bar {
        flex-basis: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.8rem 0;
        padding: 0 1rem;
        color: #f6f6f6;
    }

    .board-controls {
        display: flex;
    }

    .board-controls .btn2 {
        margin-right: 1rem;
    }

    .board-controls .btn2:last-of-type {
        margin-right: 0;
    }

    .board-info-bar .btn2 {
        font-size: 1.4rem;
        font-weight: 400;
        transition: background-color 150ms;
        padding: 0 0.6rem;
        border-radius: 0.3rem;
        height: 3rem;
    }

    .board-info-bar .btn2:hover {
        background-color: #006aa8;
    }

    .private-btn-icon,
    .menu-btn-icon {
        padding-right: 0.6rem;
        white-space: nowrap;
    }

    .board-title h2 {
        font-size: 1.8rem;
        font-weight: 700;
        white-space: nowrap;
    }

    /* Lists */

    .lists-container::-webkit-scrollbar {
        height: .4rem;
    }

    .lists-container::-webkit-scrollbar-thumb {
        background-color: #3c8dbc;
        border: 0.8rem solid #3c8dbc;
        border-top-width: 0;
        border-radius: 10px;

    }

    .lists-container {
        display: flex;
        align-items: start;
        padding: 0 0.8rem 0.8rem;
        overflow-x: auto;
        height: calc(100vh - 8.6rem);
    }

    .list {
        flex: 0 0 27rem;
        display: flex;
        flex-direction: column;
        background-color: #e2e4e6;
        max-height: calc(100vh - 11.8rem);
        border-radius: 0.3rem;
        margin-right: 1rem;
    }

    .list:last-of-type {
        margin-right: 0;
    }

    .list-title {
        font-size: 1.4rem;
        font-weight: 700;
        color: #333;
        padding: 1rem;
        margin-top: 5px;
    }

    .list-items {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: start;
        padding: 0 0.6rem 0.5rem;
        overflow-y: auto;
    }

    .list-items::-webkit-scrollbar {
        width: 1rem;
    }

    .list-items::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
        border-right: 0.6rem solid #e2e4e6;
    }

    .list-items li {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
        background-color: #fff;
        padding: 0.65rem 0.6rem;
        color: #4d4d4d;
        border-bottom: 0.1rem solid #ccc;
        border-radius: 0.3rem;
        margin-bottom: 0.6rem;
        word-wrap: break-word;
        cursor: pointer;
    }

    .list-items li:last-of-type {
        margin-bottom: 0;
    }

    .list-items li:hover {
        background-color: #eee;
    }

    .add-card-btn {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        color: #838c91;
        padding: .5rem;
        text-align: left;
        cursor: pointer;
        margin: .5rem;
        border-radius: 3px;
        outline: none !important;
    }

    .add-card-btn:hover {
        background-color: #cdd2d4;
        color: #4d4d4d;
    }

    .add-list-btn {
        flex: 0 0 27rem;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        background-color: #006aa7;
        color: #a5cae0;
        padding: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: background-color 150ms;
        text-align: left;
    }

    .add-list-btn:hover {
        background-color: #005485;
    }


    @supports (display: grid) {
        .masthead {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-column-gap: 2rem;
        }

        .boards-menu {
            display: grid;
            grid-template-columns: 9rem 18rem;
            grid-column-gap: 0.8rem;
        }

        .user-settings {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-column-gap: 0.8rem;
        }

        .board-controls {
            display: grid;
            grid-auto-flow: column;
            grid-column-gap: 1rem;
        }

        .lists-container {
            display: grid;
            grid-auto-columns: 27rem;
            grid-auto-flow: column;
            grid-column-gap: 1rem;
        }

        .list {
            display: grid;
            grid-template-rows: auto minmax(auto, 1fr) auto;
        }

        .list-items {
            display: grid;
            grid-row-gap: 0.6rem;
        }

        .logo,
        .list,
        .list-items li,
        .boards-btn,
        .board-info-bar,
        .board-controls .btn2,
        .user-settings-btn {
            margin: 0;
        }
    }
    .m-1{
        margin: 5px 0; 
    }
    .text-info{
        color: #3385b5;
    }

    .font-lighter{
        font-weight: lighter !important;
    }
    .text-muted{
        color: #ccc;
        margin-bottom: 0;
    }


    /*-- timeline --*/
    @import url("https://fonts.googleapis.com/css?family=Roboto");
    .timeline:before{
        content: none !important;
    }
    .timeline {
      width: 100%;
      display: flex;
      padding: 20px 0;
      font-family: "Roboto", sans-serif;
    }
    .timeline-step {
      display: flex;
      flex: 1;
      align-items: center;
      position: relative;
      counter-increment: step;
    }
    .timeline-step__checkpoint {
      width: 10px;
      height: 10px;
      display: block;
      position: relative;
      border-radius: 50%;
      box-sizing: border-box;
      flex-shrink: 0;
      content: "";
    }
    .timeline-step:after {
      width: 100%;
      height: 2px;
      margin: 0 2px;
      display: block;
      background: #1ABC9C;
      content: "";
    }
    .timeline-step__checkpoint {
      background: #1ABC9C;
    }
    .timeline-step--current .timeline-step__checkpoint {
      background: #E67E22;
    }
    .timeline-step--current ~ .timeline-step .timeline-step__checkpoint {
      border: 2px solid #BDC3C7;
      background: none;
    }
    .timeline-step--current ~ .timeline-step:after {
      background: #BDC3C7;
    }
    .timeline-step__label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      color: #95A5A6;
      white-space: nowrap;
    }
    .timeline-step__label:after {
      content: " " counter(step);
    }
    .timeline-step:last-child {
      flex: 0;
    }
    .timeline-step:last-child:after {
      display: none;
    }
    .timeline.timeline--label-checkpoint-above .timeline-step__label, .timeline.timeline--label-line-above .timeline-step__label {
      bottom: 100%;
      margin-bottom: 5px;
    }
    .timeline.timeline--label-checkpoint-above .timeline-step--current:after, .timeline.timeline--label-line-above .timeline-step--current:after {
      background: #E67E22;
    }
    .timeline.timeline--label-checkpoint-below .timeline-step__label, .timeline.timeline--label-line-below .timeline-step__label {
      top: 100%;
      margin-top: 5px;
    }
    .timeline.timeline--label-line-above .timeline-step__checkpoint, .timeline.timeline--label-line-below .timeline-step__checkpoint {
      position: static;
    }
    .timeline.timeline--label-line-above .timeline-step__label, .timeline.timeline--label-line-below .timeline-step__label {
      margin-left: 6px;
    }
    .timeline.timeline--label-line-above .timeline-step--current:after, .timeline.timeline--label-line-below .timeline-step--current:after {
      background: #E67E22;
    }
    .timeline.timeline--label-line-above .timeline-step:last-child .timeline-step__label, .timeline.timeline--label-line-below .timeline-step:last-child .timeline-step__label {
      display: none;
    }
    .timeline.timeline--label-bellow .timeline-step__label {
      top: 100%;
      bottom: auto;
    }
    .timeline.timeline--label-checkpoint-above .timeline-step:last-child .timeline-step__label, .timeline.timeline--label-checkpoint-below .timeline-step:last-child .timeline-step__label {
      left: auto;
      right: 0;
      transform: none;
    }
    .timeline.timeline--label-checkpoint-above .timeline-step:first-child .timeline-step__label, .timeline.timeline--label-checkpoint-below .timeline-step:first-child .timeline-step__label {
      left: 0;
      transform: none;
    }
    .timeline.timeline--label-checkpoint-above .timeline-step--current:after, .timeline.timeline--label-checkpoint-below .timeline-step--current:after {
      background: #BDC3C7;
    }
    .text-success{
        color: #00a65a;
    }

    .text-danger{
        color: #dd4b39;
    }
    .text-right{
        text-align: right !important;
    }
    .px-15{
        padding: 0 15px;
    }

    /*----------------------5.2 count down------------------------*/
.count-down {
    color: #000;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
}
.count-down p{
    margin-bottom: 0;
}

.count-down span {
    float: left;
    width: 23%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 1%;
    padding: 0px;
    /*padding: 5px 0px;*/
    color: #808080;
}
span.time-count {
    padding: 0;
    border: 0px solid;
    margin: 0;
    width: 100%;
    color: #444;
}
.home-two span.time-count {
    padding: 0;
    border: 0px solid;
    margin: 0;
    width: 100%;
    color: #fff;
}
.count-down-two {
    color: #000;
    font-family: arial
}


.card {
    width: 100%;
    min-height: 230px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
}
.m-0{
    margin: 0;
}
.border{
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
}
.font-20{
    font-size: 20px;
}

.overlay{
    text-align: center;
    font-size: 4rem;
    color: #3c8dbc;
}



